
html, body {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    height: 100%;
    background-color: #f6f9ff;
  }
  
  /* Wrapper must be a flex container and take full height */
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Main content takes remaining space */
  main {
    flex: 1;
  }
  
  /* Styling for footer (optional) */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  .hero-section{
    background: #009688 url(../images/slider-bg.jpg);
    height: 400px;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-section h1{
    color:white;
    text-shadow: 
        -2px -2px 0 black, 
        2px -2px 0 black, 
        -2px 2px 0 black, 
        2px 2px 0 black,
        0px 0px 5px black; /* Optional blur effect */
    font-size: 3rem;
  }
 .hero-section p{
    text-shadow: 2px 2px 5px red;
    color:white;
    font-size: 1.5rem;
  }

  .main-section .nav .nav-item button{
    background-color: white;
    margin-right: 15px;
    font-weight: 600;
    padding: 15px 25px
  }
  .main-section .nav .nav-item button.active{
    background-color: #1C40F2;
  }
  .line-clamp2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    height: 50px;
  }
  .line-clamp1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .card-head p{
    font-size: 12px;
  }
@media (min-width: 200px) and (max-width: 990px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }
}
